@import '~bootstrap/scss/bootstrap';

body {
  background-color: lightgreen;
  font-family: 'Bubblegum Sans', cursive;
  background-image: url('./GardenGnomeGrass.jpeg');
  background-size: cover;
}
h1 {
  text-align: center;
  color: rgb(15, 13, 136);
}
li{
  margin-left:auto;
  margin-right: auto;
  margin-top: 1.5em;
}

.d-flex div{
  text-align: center;
}
.btn, .bin-custom {
  text-align: center;
  background-color: rgb(81, 255, 0);
}
