@import '~bootstrap/scss/bootstrap';

body {
  background-color: lightgreen;
  font-family: 'Bubblegum Sans', cursive;
  background-image: url('./GardenGnomeGrass.jpeg');
  background-size: cover;
}
h1, h2, h3 {
  text-align: center;
  color: rgb(25, 22, 224);
}
h1 {
  font-size: 4em;
}
li {
  margin-left:auto;
  margin-right: auto;
  margin-top: 1.5em;
}

.d-flex div{
  text-align: center;
}
.btn, .bin-custom, button {
  text-align: center;
  background-color: rgb(22, 116, 224);
  margin-top: 1.2em;
  margin-left: 1em;
  border-radius: 25px;
}

Form {
  color: rgb(25, 22, 224);
  font-size: 1.5rem;
  width: 20rem;
  align-items: center;

}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(64, 235, 87, 0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
